<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Photo Galary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <img src="{{  this.imageSrc ? this.imageSrc : '' }}" alt="Description of the image">
    <ion-button (click)="uploadImage()">
      Upload Image
    </ion-button>
  </ion-content>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>